// 
// 
// user.scss
//
// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.
.search-icon{
    background-color: #161616;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.1rem;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    color: #fff;
}
.nav-login{
    background-color: #161616;
    color: #fff;
    font-size: 0.95rem;
    border-radius: 50px;
    padding: 10px 20px !important;
}
#about-gs{
    background: rgb(15,15,15);
    background: linear-gradient(0deg, rgba(22,22,22,1) 20%, rgba(0,0,0,1) 100%);

    h1{
        color: #fff;
    }
    p{
        color: rgba(255, 255, 255, 0.6);
        font-size: 1rem;
        line-height: 1.8;
    }
}

#breeders{
    background: rgb(15,15,15);
    text-align: center;
    h1{
        color: #fff;
    }
    p{
        color: rgba(255, 255, 255, 0.6);
        font-size: 1rem;
        line-height: 1.8;
        margin-bottom: 3rem;
    }
    a{
        text-decoration: none;
    }
    .card-breeder{
        z-index: 70;
        position: relative;
        margin-bottom: 2rem;
        &:hover{
            text-decoration :none;
            transition: 200ms;
            .desc{
                background: #ba7834;
                transition: 200ms;
            }
            .h3{
                text-decoration:none;
            }
        }
        img{
            width: 100%;
            height: 180px;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            object-fit: cover;
        }
        .desc{
            background: #232323;
            padding: 10px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            h3{
                color: #fff;
                font-size: 1rem;
                margin-bottom: 0;
            }
        }
    }
    .more-card{
        margin-top: 2rem;
        .more{
            margin-bottom: 1.5rem;
            &:hover{
                h4{
                    color: #ba7834;
                    transition: 200ms;
                }
            }
            img{
                width: 80px;
                height: 80px;
                margin-bottom: 0.7rem;
            }
            h4{
                font-size: 0.95rem;
                font-weight: 500;
                color: #fff;
                margin-bottom: 0;
            }
        }
    }
    .backtend{
        img{
            width: 250px;
        }
        position: relative;
        z-index: 80;
        margin-bottom: -2rem;
    }
}
#newsletter{
    padding-bottom: 4rem;
    padding-top: 0;
    background: rgb(15,15,15);
    .card-newsletter{
        background: #2A2A2A;
        padding: 2rem;
        text-align: center;
        border-radius: 10px;
        h1{
            color: #fff;
        }
        p{
            color: rgba(255, 255, 255, 0.6);
            font-size: 1rem;
            line-height: 1.8;
            margin-bottom: 1rem;
        }
        .form-newsletter{
            .form-control{
                height: 50px;
                margin-right: 0.5rem;
                border: 2px solid #fff;
                background-color: transparent;
            }
            .btn-form-newsletter{
                background-color: #ba7834;
                border-radius: 4px;
                border: 0;
                height: 50px;
                padding: 0 2rem;
                color: #fff;
                &:hover{
                    background-color: #a5682c;
                    transition: 200ms;
                }
            }
        }
    }
}
.footer-content{
    background-color: rgba(22,22,22,1);
    p{
        margin-bottom: 5px;
        font-size: 0.95rem;
    }
}

.bg-orange{
    background-color: #ba7834;
}
.not-sticky-black{
    background-color: #000;
}
#single-banner{
    text-align: center;
    background: url("../img/bg-page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .title{
        padding: 4rem 0 0 0 !important;
        text-align: center;
        h2{
            color: #fff;
            font-weight: 500;
        }
        .breadcrumb{
            h5{
                color: #fff;
                margin-bottom: 0;
                margin-right: 1rem;
                margin-left: 1rem;
            }
            span{
                color: #fff;
                font-size: 0.9rem !important;
            }
        }
    }
}
#single-content{
    background: rgb(15,15,15);
    color: #fff;
}

#blog-page{
    background: rgb(15,15,15);
    .list-news{
        width: 100%;
        margin-bottom: 1.5rem;
        img{
            width: 150px;
            height: 150px;
            min-width: 150px;
            min-height: 150px;
            max-width: 150px;
            max-height: 150px;
            object-fit: cover;
            border-radius: 4px;
            margin-right: 10px;
        }
        .desc{
            a{
                text-decoration: none;
                &:hover{
                    h2{
                        color: #ba7834;
                        transition: 200ms;
                    }
                }
            }
            h2{
                color: #fff;
                font-size: 1.4rem;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            p{
                color: rgba(255, 255, 255, 0.6);
                font-size: 0.95rem;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
    .category-list{
        h3{
            color: #ba7834;
            font-size: 1.4rem;
        }
        ul{
            list-style: none;
            padding-inline-start: 0 !important;
            li{
                border-bottom: 1px dashed #fff;
                padding: 0.5rem 0;
                a{
                    color: #fff;
                }
            }
        }
    }
    .page-link{
        background: rgb(15,15,15);
        color: #fff;
    }
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #ba7834;
        border-color: #fff;
    }
    .detail-news{
        img{
            width: 100%;
            height: auto;
            border-radius: 8px;
            margin-bottom: 1rem;
        }
        .desc{
            a{
                text-decoration: none;
                &:hover{
                    h2{
                        color: #ba7834;
                        transition: 200ms;
                    }
                }
            }
            h2{
                color: #fff;
                font-size: 1.4rem;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            p{
                color: rgba(255, 255, 255, 0.6);
                font-size: 0.95rem;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}

#gallery-page{
    background: rgb(15,15,15);
    a{
        text-decoration: none;
    }
    .card-gallery{
        position: relative;
        margin-bottom: 2rem;
        &:hover{
            text-decoration :none;
            transition: 200ms;
            .desc{
                background: #ba7834;
                transition: 200ms;
            }
            .h3{
                text-decoration:none;
            }
        }
        img{
            width: 100%;
            height: 180px;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            object-fit: cover;
        }
        .desc{
            background: #232323;
            padding: 10px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            h3{
                color: #fff;
                font-size: 1rem;
                margin-bottom: 0;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }
    .page-link{
        background: rgb(15,15,15);
        color: #fff;
    }
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #ba7834;
        border-color: #fff;
    }
    .detail-gallery{
        .gallery{
            width: 100%;
            margin-bottom: 1rem;
            ul {
                list-style: none outside none;
                padding-left: 0;
                margin-bottom:0;
            }
            li {
                display: block;
                float: left;
                margin-right: 6px;
                cursor:pointer;
            }
            img {
                display: block;
                height: auto;
                width: 100%;
                max-width: 100%;
            }
        }
        .desc{
            max-width: 100%;
            a{
                text-decoration: none;
                &:hover{
                    h2{
                        color: #ba7834;
                        transition: 200ms;
                    }
                }
            }
            h2{
                color: #fff;
                font-size: 1.4rem;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            p{
                color: rgba(255, 255, 255, 0.6);
                font-size: 0.95rem;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
    .category-list{
        margin-bottom: 2rem;
        h3{
            color: #ba7834;
            font-size: 1.4rem;
        }
        ul{
            list-style: none;
            padding-inline-start: 0 !important;
            li{
                border-bottom: 1px dashed #fff;
                padding: 0.5rem 0;
                a{
                    color: #fff;
                }
            }
        }
    }
}

#breeders-page{
    background: rgb(15,15,15);
    a{
        text-decoration: none;
    }
    .card-breeders{
        position: relative;
        margin-bottom: 2rem;
        &:hover{
            text-decoration :none;
            transition: 200ms;
            .desc{
                h3{
                    color: #ba7834;
                    transition: 200ms;
                }
            }
        }
        .image{
            position: relative;
            .watch-video{
                position: absolute;
                bottom: 10px;
                left: 10px;
                background: rgba(15,15,15,0.7);
                padding: 5px 10px;
                border-radius: 20px;
                color: #fff;
                font-size: 0.95rem;
                i{
                    margin-right: 5px;
                }
            }
            img{
                width: 100%;
                height: 180px;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                object-fit: cover;
            }
        }
        .desc{
            background: #232323;
            padding: 10px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            h3{
                color: #fff;
                font-size: 1rem;
                margin-bottom: 0;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            p{
                color: rgba(255, 255, 255, 0.6);
                font-size: 0.95rem;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
    .page-link{
        background: rgb(15,15,15);
        color: #fff;
    }
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #ba7834;
        border-color: #fff;
    }
    .detail-breeders{
        .title{
            margin-top: 1rem;
            margin-bottom: 1rem;
            h2{
                color: #fff;
                font-size: 1.5rem;
                margin-bottom: 0;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            p{
                color: rgba(255, 255, 255, 0.6);
                font-size: 0.95rem;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
    .card-main-breeders{
        background: rgb(22, 22, 22);
        border-radius: 8px;
        margin-bottom: 1.5rem;
        .title-content{
            background: rgb(29, 29, 29);
            padding: 1rem;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            h2{
                color: #fff;
                font-size: 1.2rem;
                margin-bottom: 0;
                line-height: 1.5;
            }
        }
        .content{
            padding: 1rem;
            p{
                color: #fff;
                font-size: 0.95rem;
            }
        }
    }
    .tab-video{
        margin-bottom: 2rem;
        h3{
            color: #ba7834;
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        .nav-pills .nav-link{
            color: rgba(255, 255, 255, 0.6);
            font-size: 0.9rem;
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: #ba7834;
            font-weight: 600;
            font-size: 0.9rem;
        }
        .sidebar-list{
            margin-top: 1rem;
            .list-sidebar{
                width: 100%;
                margin-bottom: 1rem;
                img{
                    width: 70px;
                    height: 70px;
                    min-width: 70px;
                    min-height: 70px;
                    max-width: 70px;
                    max-height: 70px;
                    border-radius: 4px;
                    object-fit: cover;
                    margin-right: 10px;
                }
                .desc{
                    padding: 0;
                    h3{
                        color: #fff;
                        font-size: 0.95rem;
                        margin-bottom: 5px;
                    }
                    small{
                        color: #a5682c;
                        padding: 0;
                    }
                    p{
                        font-size: 0.9rem;
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
            }
        }
    }
}

#member-page{
    background: rgb(15,15,15);
    a{
        text-decoration: none;
    }
    .member-card{
        width: 100%;
        text-align: center;
        background: rgb(22, 22, 22);
        border-radius: 8px;
        margin-bottom: 1.5rem;
        padding: 1rem;
        img{
            width: 100px;
            height: 100px;
            min-width: 100px;
            min-height: 100px;
            max-width: 100px;
            max-height: 100px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
        h6{
            color: #ba7834;
            font-size: 1rem;
        }
        p{
            color: rgba(255, 255, 255, 0.6);
            font-size: 0.95rem;
        }
    }
    .page-link{
        background: rgb(15,15,15);
        color: #fff;
    }
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #ba7834;
        border-color: #fff;
    }
}

#pedigree-page{
    background: rgb(15,15,15);
    a{
        text-decoration: none;
    }
    .card-gallery{
        position: relative;
        margin-bottom: 2rem;
        &:hover{
            text-decoration :none;
            transition: 200ms;
            .desc{
                background: #ba7834;
                transition: 200ms;
            }
            .h3{
                text-decoration:none;
            }
        }
        img{
            width: 100%;
            height: 180px;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            object-fit: cover;
        }
        .desc{
            background: #232323;
            padding: 10px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            h3{
                color: #fff;
                font-size: 1rem;
                margin-bottom: 0;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }
    .page-link{
        background: rgb(15,15,15);
        color: #fff;
    }
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #ba7834;
        border-color: #fff;
    }
    .detail-pedigree{
        .gallery{
            width: 100%;
            margin-bottom: 1rem;
            ul {
                list-style: none outside none;
                padding-left: 0;
                margin-bottom:0;
            }
            li {
                display: block;
                float: left;
                margin-right: 6px;
                cursor:pointer;
            }
            img {
                display: block;
                height: auto;
                width: 100%;
                max-width: 100%;
            }
        }
        .desc{
            max-width: 100%;
            a{
                text-decoration: none;
                &:hover{
                    h2{
                        color: #ba7834;
                        transition: 200ms;
                    }
                }
            }
            h2{
                color: #fff;
                font-size: 1.4rem;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            p{
                color: rgba(255, 255, 255, 0.6);
                font-size: 0.95rem;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
    .card-main-pedigree{
        background: rgb(22, 22, 22);
        border-radius: 8px;
        margin-bottom: 1.5rem;
        .title-content{
            background: rgb(29, 29, 29);
            padding: 1rem;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            h2{
                color: #fff;
                font-size: 1.2rem;
                margin-bottom: 0;
                line-height: 1.5;
            }
        }
        .content{
            padding: 1rem;
            p{
                color: #fff;
                font-size: 0.95rem;
            }
            .parent-image{
                margin-bottom: 1rem;
                img{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }
            }
            .full-image{
                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }
    .card-video{
        position: relative;
        margin-bottom: 2rem;
        &:hover{
            text-decoration :none;
            transition: 200ms;
            .desc{
                h3{
                    color: #ba7834;
                    transition: 200ms;
                }
            }
        }
        .image{
            position: relative;
            .watch-video{
                position: absolute;
                bottom: 10px;
                left: 10px;
                background: rgba(15,15,15,0.7);
                padding: 5px 10px;
                border-radius: 20px;
                color: #fff;
                font-size: 0.95rem;
                i{
                    margin-right: 5px;
                }
            }
            img{
                width: 100%;
                height: 180px;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                object-fit: cover;
            }
        }
        .desc{
            background: #232323;
            padding: 10px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            h3{
                color: #fff;
                font-size: 1rem;
                margin-bottom: 0;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            p{
                color: rgba(255, 255, 255, 0.6);
                font-size: 0.95rem;
                line-height: 1.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
    .card-grand{
        width: 100%;
        background: rgb(22, 22, 22);
        border: 1px solid rgb(87, 87, 87);
        .cell-1{
            width: 25%;
            height: 100%;
            .subcell-1{
                padding: 1rem;
                text-align: center;
                img{
                    width: 100%;
                    height: 150px;
                    border-radius: 4px;
                    object-fit: cover;
                    margin-bottom: 1rem;    
                    @include media-breakpoint-down(sm) {
                        height: auto;
                    }
                }
                h4{
                    color: #fff;
                    font-size: 0.95rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.6rem;
                    }
                }
                a{
                    color: #ba7834;
                    font-size: 0.95rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.6rem;
                    }
                }
                p{
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 0.9rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.55rem;
                    }
                }
            }
        }
        .cell-2{
            width: 25%;
            height: 100%;
            .subcell-2{
                border: 1px solid rgb(87, 87, 87);
                padding: 1rem;
                text-align: center;
                min-height: 245px;
                @include media-breakpoint-down(sm) {
                    padding: 0.5rem;
                }
                img{
                    width: 80px;
                    height: 50px;
                    border-radius: 4px;
                    object-fit: cover;
                    margin-bottom: 1rem;  
                    @include media-breakpoint-down(sm) {
                        width: 50px;
                        height: 30px;
                    }  
                }
                h4{
                    color: #fff;
                    font-size: 0.95rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.6rem;
                    }
                }
                a{
                    color: #ba7834;
                    font-size: 0.95rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.6rem;
                    }
                }
                p{
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 0.9rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.55rem;
                    }
                }
            }
        }
        .cell-3{
            width: 25%;
            height: 100%;
            .subcell-3{
                border: 1px solid rgb(87, 87, 87);
                padding: 1rem;
                text-align: left;
                min-height: 122.8px;
                h4{
                    color: #fff;
                    font-size: 0.9rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.6rem;
                    }
                }
                a{
                    color: #ba7834;
                    font-size: 0.9rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.6rem;
                    }
                }
                p{
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 0.85rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.55rem;
                    }
                }
            }
        }
        .cell-4{
            width: 25%;
            height: 100%;
            .subcell-4{
                border: 1px solid rgb(87, 87, 87);
                padding: 0.5rem;
                text-align: left;
                min-height: 61.4px;
                h4{
                    color: #fff;
                    font-size: 0.85rem;
                    margin-bottom: 3px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.55rem;
                    }
                }
                a{
                    color: #ba7834;
                    font-size: 0.85rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.55rem;
                    }
                }
                p{
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 0.8rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
    .tab-pedigree{
        margin-top: 1rem;
        margin-bottom: 2rem;
        h3{
            color: #ba7834;
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        .nav-pills .nav-link{
            color: rgba(255, 255, 255, 0.6);
            font-size: 0.95rem;
            margin-bottom: 1rem;
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: #ba7834;
            font-weight: 600;
            font-size: 0.95rem;
            border-radius: 50px;
        }
        .sidebar-list{
            margin-top: 1rem;
            .list-sidebar{
                width: 100%;
                margin-bottom: 1rem;
                img{
                    width: 70px;
                    height: 70px;
                    min-width: 70px;
                    min-height: 70px;
                    max-width: 70px;
                    max-height: 70px;
                    border-radius: 4px;
                    object-fit: cover;
                    margin-right: 10px;
                }
                .desc{
                    padding: 0;
                    h3{
                        color: #fff;
                        font-size: 0.95rem;
                        margin-bottom: 5px;
                    }
                    small{
                        color: #a5682c;
                        padding: 0;
                    }
                    p{
                        font-size: 0.9rem;
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
            }
        }
    }
    .comment-pedigree{
        img{
            border-radius: 50%;
            object-fit: cover;
            width: 60px;
            height: 60px;
        }
        h6{
            color: #fff;
            a{
                color: #fff;
            }
        }
        p{
            color: rgba(255, 255, 255, 0.6);
            font-size: 0.95rem;
            line-height: 1.5;
        }
        .form-comment{
            .form-control{
                background: rgb(22, 22, 22);
                color: rgba(255, 255, 255, 0.6);
                border: 0;
                margin-bottom: 1rem;
            }
            button{
                color: #fff;
                background-color: #ba7834;
                padding: 1rem 1.5rem;
                font-size: 0.95rem;
                border: 0;
                border-radius: 4px;
            }
        }
    }
    .table-dark{
        background: rgb(22, 22, 22) !important;
        th{
            border-top: 0;
        }
        tr{
            th,td{
                border-bottom-color: rgba(255, 255, 255, 0.6);
            }
        }
    }
    .form-mating{
        position: relative;
        margin-bottom: 1rem;
        i{
            position: absolute;
            top: 13px;
            left: 13px;
        }
        .form-control{
            background: rgb(22, 22, 22);
            color: rgba(255, 255, 255, 0.6);
            border: 0;
            margin-bottom: 1rem;
            height: 55px;
            padding-left: 2.5rem;
        }
    }
    .btn-process{
        margin-top: 0.5rem;
        background-color: #ba7834;
        color: #fff;
        border: 0;
        border-radius: 4px;
        padding: 0.3rem 1rem;
        box-shadow: 0;
        font-size: 0.95rem;
    }
}

#login-page{
    background: rgb(15,15,15);
    .card-black{
        background: rgb(27, 27, 27) !important;
        h5{
            color: #fff;
        }
        p{
            color: rgba(255, 255, 255, 0.6);
        }
        .form-control{
            background: rgb(22, 22, 22);
            color: rgba(255, 255, 255, 0.6);
            border: 0;
            margin-bottom: 1rem;
            height: 55px;
        }
        .btn-primary{
            background-color: #ba7834;
            border: 0;
            height: 55px;
        }
        a{
            color: #ba7834;
        }
    }
}